.body{
  background: #f0f0f0;
  overflow-x: hidden;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.searchBar{
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.searchBar input{
  width: 80%;
  font-size: 1.5rem;
  padding: 0.3rem 3rem;
  border-radius: 2rem;
  border: 2px solid #c2c2c2;
}

.filters{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  overflow-x: auto;
  margin: 1rem 0;
}

.left, .right{
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 1rem;
}

.views{
  cursor: pointer;
  height: fit-content;
}

.customSelect {
  position: relative;
}

.customSelect select {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #aeaeae;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .body{
    padding: 0 3rem;
  }
  .searchBar input{
    width: 100%;
  }
}

@media only screen and (max-width: 786px) {
  .body{
    padding: 0;
  }
  .filters{
    flex-direction: row-reverse;
  }
  .left, .right{
    padding: 0 0.8rem;
  }
  .searchBar{
    background: #2E0052;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 3rem;
    padding: 1rem;
  }
  .searchBar input{
    width: 80%;
    font-size: 1.4rem;
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;
  }
  .views{
    display: none;
  }
  .customSelect select {
    border-radius: 1rem;
    padding: 0.4rem;
  }
}