.grid {
  height: 22rem;
  width: 85%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list {
  height: 15rem;
  width: 85%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.list:hover,
.grid:hover {
  box-shadow: 0 0 1.5rem rgb(160, 152, 152);
}

.grid .image {
  position: relative;
  padding-top: 0.7rem;
  background: #d4e5ff;
  justify-self: center;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.list .image {
  position: relative;
  padding-top: 0.7rem;
  background: #d4e5ff;
  justify-self: center;
  width: 25rem;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.addToCart{
  position: absolute;
  background: white;
  padding: 0.5rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 0 0 1rem rgb(160, 152, 152);
}

.cover{
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  mix-blend-mode: darken;
}

.grid .data {
  height: fit-content;
  padding: 0.5rem 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.list .data {
  height: fit-content;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.2rem;
  height: 100%;
}

.name,
.desc,
.color,
.type,
.price {
  margin: 0;
}

.list .name{
  font-size: 1.6rem;
}

.name,
.price {
  margin: 0;
  font-weight: bold;
}

.grid .desc {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .list{
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .cover{
    width: 90%;
    height: 13rem;
  }
  .list .image{
    width: 100%;
  }
  .list .cover{
    width: 90%;
    height: 15rem;
  }
}
