.filters{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  overflow-x: auto;
  margin: 1rem 0;
}

.left, .right{
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 1rem;
}

.views{
  cursor: pointer;
  height: fit-content;
}

.customSelect {
  position: relative;
}

.customSelect select {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #aeaeae;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 786px) {
  .filters{
    flex-direction: row-reverse;
  }
  .left, .right{
    padding: 0 0.8rem;
  }
  .views{
    display: none;
  }
  .customSelect select {
    border-radius: 1rem;
    padding: 0.4rem;
  }
}