.body{
  background: #2E0052;
  min-width: 100%;
  color: white;
  font-size: large;
  letter-spacing: 0.02rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.right, .left{
  display: flex;
  padding: 0 1.5rem;
  gap: 0.5rem;
  cursor: pointer;
}
.links{
  color: white;
  text-decoration: none;
}
